<template>
	<view class="container">
		<text class="intro" @click="startRecognize">详见：</text>
		<text @click="showDrawer('showLeft')">跳转</text>
		<uni-drawer ref="showLeft" mode="left" :width="320" @change="change($event, 'showLeft')">
			<appNav></appNav>
		</uni-drawer>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				href: 'https://uniapp.dcloud.io/component/README?id=uniui'
			}
		},
		methods: {
			// 扫一扫
			startRecognize() {
				uni.scanCode({
					success: function(res) {
						console.log('条码类型:' + res.scanType);
						console.log('条码内容：' + res.result);
					}
				});
			},
		// 打开窗口
		showDrawer(e) {
			this.$refs[e].open();
		},
		// 关闭窗口
		closeDrawer(e) {
			this.$refs[e].close();
		},

		}
	}
</script>

<style>
	.container {
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
	}
</style>
