<script>
export default {
	onLaunch: function() {
		console.log('App Launch');
	},
	onShow: function() {
		console.log('App Show');
	},
	onHide: function() {
		console.log('App Hide');
	}
};
</script>

<style>
/* 解决头条小程序组件内引入字体不生效的问题 */
/* #ifdef MP-TOUTIAO */
@font-face {
	font-family: uniicons;
	src: url('/static/uni.ttf');
}
/* #endif */
/*每个页面公共css */
	.content{
		position: absolute;
		width: 100%;
		min-height: 100%;
		background-color: rgba(0,122,255,.06);
		/* box-shadow: inset 0px 0px -8px 0px 10px rgba(0,122,255,.2); */
		box-shadow:inset 0px -20px 15px -15px rgba(0,122,255,.2);
		color: #333;
		box-sizing: border-box;
	}
</style>
