<template>
	<view class="content">
		<view class="navBox">
			<view class="navIcon" @click="showDrawer('showLeft')"><image src="../../static/images/menu.png" mode=""></image></view>
			<view class="navTitle">固定资产</view>
			<view class="navIcon"><image src="../../static/images/news.png" mode=""></image></view>
		</view>
		<view class="body">
			<!-- 任务概况 -->
			<view class="job">
				<view class="jobMain">
					<view class="checkBox" @click="onCheck">
						<view class="checkName">待盘点任务</view>
						<view class="job-num">
							5
							<text>个</text>
						</view>
					</view>
					<view class="approveBox">
						<view class="approve">待审批任务</view>
						<view class="job-num">
							1
							<text>条</text>
						</view>
					</view>
					<view class="signatureBox" @click="onSignature">
						<view class="signature">待签字任务</view>
						<view class="job-num">
							1
							<text>条</text>
						</view>
					</view>
				</view>
			</view>
			<view class="tba_contain">
				<!-- 导航栏 -->
				<scroll-view class="tab" scroll-x :scroll-left="tabScroll" scroll-with-animation="true">
					<block v-for="(item, index) in menuList" :key="index">
						<view :class="['tab-item', currentTab == index ? 'active' : '']" :data-current="index" @click="clickMenu">{{ item.name }}</view>
					</block>
				</scroll-view>
				<!-- 资产列表 -->
				<swiper class="list_content" duration="500" :current="currentTab" @change="changeContent">
					<!--领用-->
					<swiper-item class="content-item">
						<view class="numBox">
							<view class="numTitle fl">报修资产</view>
							<view class="num fr">1个 &gt;</view>
						</view>
						<view class="numBox">
							<view class="numTitle fl">报修资产</view>
							<view class="num fr">1个 &gt;</view>
						</view>
						<view class="situation">
							<view class="title">
								当前资产使用情况
							</view>
							<view class="sitcont">
								<view class="sitcont_list">
									<view class="sit_static">
										在用
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
								<view class="sitcont_list">
									<view class="sit_static">
										闲置
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
								<view class="sitcont_list">
									<view class="sit_static">
										借用
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
								<view class="sitcont_list">
									<view class="sit_static">
										调拨中
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
								<view class="sitcont_list">
									<view class="sit_static">
										维修中
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
								<view class="sitcont_list">
									<view class="sit_static">
										清理报废
									</view>
									<view class="sit_num">
										<text>52</text>个&gt;
									</view>
								</view>
							</view>
						</view>
					</swiper-item>
					<!-- 退库 -->
					<swiper-item class="content-item">
						<view class="numBox hcBox">
							<view class="hcTitle">耗材使用情况（近30天）<view class="small">(点击每项可展开)</view></view>
						</view>
					</swiper-item>
				</swiper>
			</view>
			<!-- 左侧菜单 -->
			<uni-drawer ref="showLeft" mode="left" :width="320" @change="change($event, 'showLeft')">
				<appNav></appNav>
			</uni-drawer>
			<!-- 扫一扫 -->
			<view class="scanBox">
				<button type="primary" class="page-body-button" @click="startRecognize">
				    扫一扫
				</button>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			codeUrl: '',
			menuList: [
				{
					name: '资产报表'
				},
				{
					name: '耗材报表'
				}
			],
			index: '',
			tabScroll: 0,
			currentTab: 0
		};
	},
	methods: {
		// 打开窗口
		showDrawer(e) {
			this.$refs[e].open();
		},
		// 关闭窗口
		closeDrawer(e) {
			this.$refs[e].close();
		},
		// 扫一扫
		startRecognize() {
			uni.scanCode({
				success: function(res) {
					console.log('条码类型:' + res.scanType);
					console.log('条码内容：' + res.result);
				}
			});
		},
		// 跳转待盘点任务
		onCheck() {
			uni.navigateTo({
				url: '../pdManagement/index'
			});
		},
		// 跳转待签字任务
		onSignature() {
			uni.navigateTo({
				url: '../signature/index'
			});
		},
		//点击tab menu
		clickMenu: function(e) {
			var current = e.currentTarget.dataset.current; //获取当前tab的index
			// 导航tab共2个，获取一个的宽度
			var tabWidth = this.windowWidth / 2;
			this.tabScroll = (current - 2) * tabWidth; //使点击的tab始终在居中位置
			if (this.currentTab == current) {
				return false;
			} else {
				this.currentTab = current;
			}
		},
		//活动menu 内容
		changeContent: function(e) {
			var current = e.detail.current; // 获取当前内容所在index,文档有
			var tabWidth = this.windowWidth / 2;
			this.currentTab = current;
			this.tabScroll = (current - 2) * tabWidth;
		}
	}
};
</script>

<style lang="less">
.fl {
	float: left;
}
.fr {
	float: right;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/* 顶部 */
.navBox {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80upx;
	background-color: #ffffff;
	overflow: hidden;
	box-sizing: border-box;
	.navIcon{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60upx;
		height: 60upx;
		image{
			display: block;
			width: 32upx;
			height: 32upx;
		}
	}
	
}
.navTitle {
	font-size: 32upx;
	flex: 8;
	text-align: center;
}
.navIcon {
	flex: 1;
	color: #000000;
	font-family: iconfont;
	font-size: 20px;
	text-align: center;
}
.body {
	// height: 10000px;
	padding-top: 80upx;
	box-sizing: border-box;
}

/* 任务概况 */
.job {
	width: 100%;
	// height: 150px;
	background-color: #007AFF;
	.jobMain {
		padding-top: 60upx;
		display: flex;
		height: 110px;
		font-size: 14px;
		text-align: center;
		color: #ffffff;
		.checkBox {
			flex: 1;
		}
		.approveBox {
			flex: 1;
		}
		.signatureBox {
			flex: 1;
		}
	}
	.statement {
		display: flex;
		background-color: #ffffff;
		width: 80%;
		height: 40px;
		margin: 0 auto;
		border-radius: 5px;
		view {
			flex: 1;
			text-align: center;
			margin: 5px 0;
			font-weight: 700;
			font-size: 15px;
		}
		view:first-child {
			border-right: 2px solid #dddddd;
		}
	}
}
.job-num {
	margin-top: 5px;
	font-size: 32px;
	text-align: center;
	text {
		font-size: 14px;
		margin-left: 5px;
	}
}
// tab切换
.tba_contain {
	position: relative;
	.list_content{
		background-color: #fff;
		overflow: hidden;
		min-height: 100vh;
		.situation{
			width: 95%;
			margin-left: 5%;
			padding-right: 5%;
			box-sizing: border-box;
			.title{
				height: 80upx;
				line-height: 80upx;
				font-size: 28upx;
				color: #999;
			}
			.sitcont{
				width: 100%;
				.sitcont_list{
					display: flex;
					justify-content: space-between;
					height: 70upx;
					font-size: 28upx;
					line-height: 70upx;
					border-bottom: 2upx solid #eee;
				}
			}
		}
	}
	.tab {
		display: flex;
		justify-content: space-evenly;
		position: absolute;
		top: 0;
		left: 15%;
		// transform: translate(-50%, -50%);
		width: 70%;
		margin-top:-50upx;
		text-align: center;
		border-radius: 20upx;
		height: 100upx;
		line-height: 100upx;
		white-space: nowrap;
		box-sizing: border-box;
		overflow: hidden;
		font-size: 24upx;
		z-index: 1;
		background-color: #ffffff;
		box-shadow: 0px 0px 10upx #999;
		.tab-item {
			display: inline-block;
			width: 160upx;
			text-align: center;
			font-size: 28upx;
			color: #000;
		}
		.tab-item:first-child{
			margin-right: 50upx;
		}
		.tab-item.active{
			color: #007AFF;
		}
	}
	.content-item {
		margin-top: 55upx;
		.numBox {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #ffffff;
			width: 95%;
			height: 50px;
			margin-left: 5%;
			padding-right: 5%;
			border-bottom: 2upx solid #eee;
			box-sizing: border-box;
			.numTitle{
				font-size: 15px;
			}
			.num{
				font-size: 15px;
			}
		}
	}
}
.hcTitle{
	font-size: 14px;
	color: #9A9CAA;
	.small{
		font-size: 12px;
		color: #9A9CAA;
	}
}

// 扫一扫
.scanBox {
	position: fixed;
	bottom: 30upx;
	width: 90%;
	left: 5%;
	background-color: #ffffff;
	box-sizing: border-box;
	color: #ffffff;
	text-align: center;
}
</style>
