<template>
	<view class="content">
		<view class="navBox">
			<view class="navIcon fl" @click="showDrawer('showLeft')">&#xe601;</view>
			<uni-drawer ref="showLeft" mode="left" :width="320" @change="change($event, 'showLeft')">
				<appNav></appNav>
			</uni-drawer>
			<view class="navTab">
				<view class="ziChanCheck" :class="current === 0 ? 'navChange' : ''" @click="onZiChanCheck">
					资产盘点
					<view v-if="current === 0" class="line"></view>
				</view>
				<view class="ziChanCheck" :class="current === 1 ? 'navChange' : ''" @click="onHaoCaiCheck">
					耗材盘点
					<view v-if="current === 1" class="line"></view>
				</view>
			</view>
			<view class="navIcon fr">&#xe626;</view>
		</view>
		<!-- tab栏-资产盘点 -->
		<view v-if="current === 0" class="ziChanBox">
			<view class="tabBox">
				<view class="underWay" @click="onUnderWay">进行中</view>
				<view class="finished" @click="onFinished">已结束</view>
			</view>
			<!-- tab栏进行中的内容 -->
			<view v-if="code === 1" class="underWayBox">
				<view class="card" @click="onCard">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card" @click="onCard">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card" @click="onCard">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card" @click="onCard">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
			</view>
			<view v-if="code === 2" class="finishedBox">
				<view class="card">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- tab栏-耗材盘点 -->
		<view v-if="current === 1" class="haoCaiBox">
			<view class="tabBox">
				<view class="underWay" @click="onUnderWay">进行中</view>
				<view class="finished" @click="onFinished">已结束</view>
			</view>
			<!-- tab栏进行中的内容 -->
			<view v-if="haoCaiCode === 1" class="underWayBox">
				<view class="card">
					<view class="titleBox">
						<view class="title">测试1222</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
				<view class="card">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="start fl">
							<text class="btnBox-icon">&#xe60e;</text>
							开始盘点
						</view>
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
			</view>
			<view v-if="haoCaiCode === 2" class="finishedBox">
				<view class="card">
					<view class="titleBox">
						<view class="title">测试111</view>
						<view class="icon">&#xe657;</view>
					</view>
					<view class="messageBox">
						<view class="boxTitle">
							创建人
							<view class="boxVal">{{ message.name }}</view>
						</view>
						<view class="boxTitle">
							盘点总数
							<view class="boxVal">{{ message.number }}</view>
						</view>
						<view class="boxTitle">
							创建日期
							<view class="boxVal">{{ message.beginTime }}</view>
						</view>
						<view class="boxTitle">
							完成日期
							<view class="boxVal">{{ message.endTime }}</view>
						</view>
					</view>
					<view class="dataBox">
						<view class="dataBox-box">
							<view class="dataBox-title">待盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">已盘点&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘盈&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
						<view class="dataBox-box">
							<view class="dataBox-title">盘亏&gt;</view>
							<view class="dataBox-num">5</view>
						</view>
					</view>
					<view class="btnBox">
						<view class="syncNum fl">
							<text class="btnBox-icon">&#xe630;</text>
							同步数据
						</view>
						<view class="clear fl">
							<text class="btnBox-icon">&#xe8d2;</text>
							清除副本
						</view>
					</view>
				</view>
			</view>
		</view>
		<uni-drawer :visible="showLeft" mode="left">
			<view style="padding: 30px;"><view class="uni-title">抽屉式导航</view></view>
		</uni-drawer>
	</view>
</template>

<script>
import uniSegmentedControl from '../../components/uni-segmented-control/uni-segmented-control.vue';
import uniCard from '@/components/uni-card/uni-card.vue';
import uniDrawer from '../../components/uni-drawer/uni-drawer.vue';
export default {
	components: { uniSegmentedControl, uniCard, uniDrawer },
	data() {
		return {
			items: ['资产盘点', '耗材盘点'],
			current: 0,
			message: {
				name: '张三',
				number: '7',
				beginTime: '2020-04-04',
				endTime: '--'
			},
			code: 1,
			haoCaiCode: 1,
			showLeft: false
		};
	},
	methods: {
		// 打开窗口
		showDrawer(e) {
			this.$refs[e].open();
		},
		// 关闭窗口
		closeDrawer(e) {
			this.$refs[e].close();
		},
		onZiChanCheck() {
			this.current = 0;
		},
		onHaoCaiCheck() {
			this.current = 1;
			this.haoCaiCode = 1;
		},
		onUnderWay() {
			this.code = 1;
			this.haoCaiCode = 1;
		},
		onFinished() {
			this.code = 2;
			this.haoCaiCode = 2;
		},
		// 跳转盘点单详情页面
		onCard() {
			uni.navigateTo({
				url: '../inventoryDetails/index'
			});
		}
	}
};
</script>

<style lang="less">
.content {
	padding: 0;
	background-color: #dddddd;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.navBox {
	display: flex;
	padding: 30px 5px 0;
	width: 100%;
	height: 62px;
	background-color: #ffffff;
	box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}
.navBox .navTab {
	flex: 6;
	text-align: center;
}
.ziChanCheck,
.haoCaiCheck {
	display: inline-block;
	margin: 0 24px;
	font-weight: 700;
	color: #c8c7cc;
}
.navChange {
	color: #000000;
}
.line {
	width: 25px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 2px auto 0;
	border-radius: 4px;
}

/* 页面内容 */
.card {
	background-color: #ffffff;
	margin-bottom: 10px;
}
.tabBox {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	background-color: #ffffff;
}
.tabBox .underWay,
.finished {
	width: 50%;
	float: left;
	text-align: center;
}
.titleBox {
	position: relative;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	border-bottom: 0.5px solid #ccc;
}
.messageBox {
	padding: 0 15px;
	height: 80px;
	line-height: 60px;
	border-bottom: 0.5px solid #ccc;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}
.messageBox .boxTitle {
	display: inline-block;
	flex: 0 0 50%;
	color: #cccccc;
	font-size: 14px;
	height: 22px;
}
.messageBox .boxTitle .boxVal {
	display: inline-block;
	margin-left: 10px;
	color: #000;
}
.dataBox {
	width: 100%;
	height: 60px;
	line-height: 30px;
	border-bottom: 0.5px solid #ccc;
}
.dataBox .dataBox-box {
	float: left;
	width: 25%;
	text-align: center;
}
.dataBox .dataBox-box .dataBox-title {
	color: #cccccc;
	font-size: 14px;
}
.dataBox .dataBox-box .dataBox-num {
	font-size: 20px;
}
.btnBox {
	width: 100%;
	height: 40px;
	line-height: 30px;
	border-bottom: 0.5px solid #ccc;
	color: #007aff;
	font-size: 14px;
}
.btnBox .start,
.syncNum {
	border-right: 0.5px solid #ccc;
}
.btnBox .fl {
	text-align: center;
	width: 33%;
	margin: 5px 0;
}
.finishedBox .btnBox .fl {
	width: 48%;
}
.navIcon {
	font-family: iconfont;
	font-size: 20px;
}
.icon {
	position: absolute;
	top: 0;
	right: 5px;
	font-family: iconfont;
	float: right;
}
.btnBox-icon {
	font-family: iconfont;
	flex: 2;
}
</style>
