<template>
	<view class="content">
		<!-- 信息列表 -->
		<view v-for="(item) in form" :key="item.id" class="listBox">
			<view>
				借用单
				<text class="borrowID">{{ item.id }}</text>
			</view>
			<view>
				借用人
				<text class="borrower">{{ item.name }}</text>
			</view>
			<view>
				借用时间
				<text class="borrowTime">{{ item.borrowTime }}</text>
			</view>
			<view>
				预计归还日期
				<text class="returnTime">{{ item.returnTime }}</text>
			</view>
			<view>
				制单人
				<text class="preparedBy">{{ item.preparedBy }}</text>
			</view>
		</view>
		<!-- 备注信息 -->
		<view class="remarkBox">
			<view class="remark-title">备注信息</view>
			<view class="remark-content">暂无备注信息</view>
		</view>
		<!-- 资产列表 -->
		<view class="propertyList">
			<view class="remark-title">
				资产列表
				<view class="fr">共计(个)：{{ propertyList.num }}</view>
			</view>
			<view class="cardBox">
				<view class="cardBox-title">
					<view class="fl">
						<view class="fl-title">{{ propertyList.name }}</view>
						<view class="fl-date">
							资产编码
							<text>{{ propertyList.id }}</text>
						</view>
					</view>
				</view>
				<view>
					<view class="cardBox-details">
						<view>
							规格型号
							<text class="cbd-text-id">{{ propertyList.type }}</text>
						</view>
						<view>
							SN号
							<text class="cbd-text-id">{{ propertyList.SNid }}</text>
						</view>
						<view>
							使用公司
							<text class="cbd-text-id">{{ propertyList.company }}</text>
						</view>
						<view>
							存放地点
							<text class="cbd-text-id">{{ propertyList.site }}</text>
						</view>
					</view>
					<view class="imgBox">111</view>
				</view>
			</view>
		</view>

		<!-- 签字区域 -->
		<view class="footer">
			<view class="contents">
				<canvas
				style="width: 94%;height: 100px;padding: 0;border-radius: 10px;"
					class="firstCanvas"
					canvas-id="firstCanvas"
					@touchmove="move"
					@touchstart="start($event)"
					@touchend="end"
					@touchcancel="cancel"
					@longtap="tap"
					disable-scroll="true"
					@error="error"
				></canvas>
			</view>
			<view class="btnBox">
				<view class="repulse" @click="togglePopup('center','tip')">打回</view>
				<view class="affirm">确认</view>
			</view>
			<uni-popup ref="showtip" :type="type" :mask-click="false" @change="change">
				<view class="uni-tip">
					<text class="uni-tip-title">温馨提示</text>
					<text class="uni-tip-content">你确定要打回这条单据吗？</text>
					<view class="uni-tip-group-button">
						<text class="uni-tip-button" @click="cancel1('tip')">取消</text>
						<text class="uni-tip-button" @click="cancel1('tip')">确定</text>
					</view>
				</view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
var content = null;
var touchs = [];
var canvasw = 0;
var canvash = 0;
var _that;
//获取系统信息
uni.getSystemInfo({
	success: function(res) {
		canvasw = res.windowWidth;
		canvash = res.windowHeight;
	}
});
export default {
	data() {
		return {
			form: [{ id: 'JY202004230006', name: '赵巧乐', borrowTime: '2020-4-23', returnTime: '2020-4-24', preparedBy: '赵巧乐' }],
			propertyList: {
				num: '1',
				id: '03010001',
				name: '专用设备1',
				type: '123',
				SNid: '11',
				company: '牛途网络',
				site: '石家庄'
			},
			signImage: '',
			isEnd: false ,// 是否签名
		};
	},
	methods: {
		overSign: function() {
			if (this.isEnd) {
				uni.canvasToTempFilePath({
					canvasId: 'firstCanvas',

					success: function(res) {
						//打印图片路径
						console.log(res.tempFilePath);
						console.log('完成签名');
						//设置图片
						_that.signImage = res.tempFilePath;
					}
				});
			} else {
				uni.showToast({
					title: '请先完成签名',
					icon: 'none',
					duration: 1500,
					mask: true
				});
			}
		},

		// 画布的触摸移动开始手势响应
		start: function(event) {
			// console.log(event)
			console.log('触摸开始' + event.changedTouches[0].x);
			console.log('触摸开始' + event.changedTouches[0].y);
			//获取触摸开始的 x,y
			let point = {
				x: event.changedTouches[0].x,
				y: event.changedTouches[0].y
			};
			// console.log(point)
			touchs.push(point);
		},
		// 画布的触摸移动手势响应
		move: function(e) {
			let point = {
				x: e.touches[0].x,
				y: e.touches[0].y
			};
			// console.log(point)
			touchs.push(point);
			if (touchs.length >= 2) {
				this.draw(touchs);
			}
		},

		// 画布的触摸移动结束手势响应
		end: function(e) {
			console.log('触摸结束' + e);
			// 设置为已经签名
			this.isEnd = true;
			// 清空轨迹数组
			for (let i = 0; i < touchs.length; i++) {
				touchs.pop();
			}
		},

		// 画布的触摸取消响应
		cancel: function(e) {
			console.log('触摸取消' + e);
		},

		// 画布的长按手势响应
		tap: function(e) {
			console.log('长按手势' + e);
		},

		error: function(e) {
			console.log('画布触摸错误' + e);
		},

		//绘制
		draw: function(touchs) {
			console.log(touchs[0], touchs[1]);
			let point1 = touchs[0];
			let point2 = touchs[1];
			touchs.shift();
			content.moveTo(point1.x, point1.y);
			content.lineTo(point2.x, point2.y);
			content.stroke();
			content.draw(true);
		},
		//清除操作
		clearClick: function() {
			// 设置为未签名
			this.isEnd = false;
			//清除画布
			content.clearRect(0, 0, canvasw, canvash);
			content.draw(true);
		},
		togglePopup(type, open){
			this.type = type
			this.$nextTick(function(){
				this.$refs['show'+ open].open()
			})
		},
		cancel1(type) {
			this.$refs['show' + type].close()
		}
	},
	/**
	 * 生命周期函数--监听页面加载
	 */
	onLoad: function(options) {
		_that = this;
		//获得Canvas的上下文
		content = wx.createCanvasContext('firstCanvas');
		//设置线的颜色
		content.setStrokeStyle('#000');
		//设置线的宽度
		content.setLineWidth(5);
		//设置线两端端点样式更加圆润
		content.setLineCap('round');
		//设置两条线连接处更加圆润
		content.setLineJoin('round');
	}
};
</script>

<style lang="less">
.content {
	background-color: #f4f5f7;
}
.listBox {
	background-color: #ffffff;
	view {
		margin-left: 10px;
		width: 100%;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px solid #e3e3e3;
		box-sizing: border-box;
		text {
			float: right;
			padding-right: 20px;
		}
	}
}

// 备注信息
.remarkBox {
	background-color: #ffffff;
	margin-top: 15px;
	height: 120px;
	.remark-title {
		padding-left: 10px;
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		color: #6a81eb;
		font-weight: 700;
		border-left: 5px solid #6a81eb;
		border-bottom: 1px solid #e1e1e1;
	}
	.remark-content {
		color: #e1e1e1;
		padding: 10px 0 0 10px;
	}
}

// 资产列表
.propertyList {
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 220px;
	.remark-title {
		padding-left: 10px;
		height: 35px;
		line-height: 35px;
		font-size: 14px;
		color: #6a81eb;
		font-weight: 700;
		border-left: 5px solid #6a81eb;
		border-bottom: 1px solid #e1e1e1;
		.fr {
			float: right;
			font-size: 14px;
			font-weight: 400;
			padding-right: 20px;
		}
	}
	.cardBox {
		background-color: #ffffff;
		.cardBox-title {
			height: 50px;
			padding: 10px 10px 0;
			border-bottom: 1px solid #e0e0e0;
			.fl {
				.fl-title {
					font-weight: 700;
					font-size: 18px;
				}
				.fl-date {
					color: #909399;
					font-size: 14px;
					text {
						margin-left: 10px;
					}
				}
			}
			.fr {
				width: 50px;
				height: 25px;
				background-color: #e2e8fb;
				color: #7594f4;
				font-size: 14px;
				text-align: center;
				line-height: 25px;
			}
		}
		.cardBox-details {
			float: left;
			padding: 15px 10px;
			color: #9294a0;
			.cbd-text-id {
				color: #000000;
				margin-left: 20px;
			}
		}
		.imgBox {
			float: right;
		}
		.details {
			height: 30px;
			line-height: 30px;
			text-align: center;
			.details-text {
				color: #9294a0;
				margin-left: 10px;
			}
		}
	}
}

// 签字区域
.ts {
	color: #ff485d;
	font-size: 30upx;
	height: 100upx;
	line-height: 100upx;
	padding-left: 20upx;
}

canvas {
	background-color: #dddddd;
	width: 700upx;
	margin: 0 25upx;
	height: calc(100vh - 140upx);
}

.contents {
	padding-top: 20upx;
	padding-bottom: 100upx;
	box-sizing: border-box;
}

#signatureImg {
	background-color: #eeeeee;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #ffffff;
	.btnBox {
		width: 100%;
		margin-top: 15px;
		display: flex;
		text-align: center;
		.repulse,
		.affirm {
			flex: 1;
			margin: 0 10px 5px;
			height: 40px;
			line-height: 40px;
			border-radius: 50px;
			background-color: #6a6a6a;
			color: #ffffff;
		}
		.affirm {
			background-color: #437fda;
		}
	}
}
	/* 提示窗口 */
	.uni-tip {
		display: flex;
		flex-direction: column;
		padding: 15px;
		width: 100%;
		background-color: #fff;
		border-radius: 10px;
	}

	.uni-tip-title {
		margin-bottom: 10px;
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		color: #333;
	}

	.uni-tip-content {
		/* padding: 15px;
 */
		font-size: 14px;
		color: #666;
	}

	.uni-tip-group-button {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}

	.uni-tip-button {
		flex: 1;
		text-align: center;
		font-size: 14px;
		color: #3b4144;
	}
</style>
