<template>
	<view class="content">
		<!-- 顶部 -->
		<view class="navBox">
			<view class="navIcon" @click="showDrawer('showLeft')"><image src="../../static/images/menu.png" mode=""></image></view>
			<view class="navInput"><input class="uni-input" focus @click="toSearchPage" /></view>
			<view class="navIcon"><image src="../../static/images/search.png" mode=""></image></view>
		</view>
		<!-- tab -->
		<view class="tba_contain">
			<!-- 导航栏 -->
			<scroll-view class="tab" scroll-x :scroll-left="tabScroll" scroll-with-animation="true">
				<block v-for="(item, index) in menuList" :key="index">
					<view :class="['tab-item', currentTab == index ? 'active' : '']" :data-current="index" @click="clickMenu">{{ item.name }}</view>
				</block>
			</scroll-view>
			<!-- 资产列表 -->
			<swiper class="list_content" style="height: height px" duration="500" :current="currentTab" @change="changeContent">
				<swiper-item class="content-item">
					<view v-for="(item, index) in message" :key="index" class="card" @click="onCard">
						<view class="titleBox">
							<view class="title">测试111</view>
							<view class="icon"><image src="../../static/images/shudian.png" mode=""></image></view>
						</view>
						<view class="messageBox">
							<view class="boxTitle">
								<view class="boxTitle_left">
									资产分类
								</view>
								<view class="boxVal">{{ item.classify }}</view>
							</view>
							<view class="boxTitle">
								<view class="boxTitle_left">
									使用公司
								</view>
								<view class="boxVal">{{ item.company }}</view>
							</view>
							<view class="boxTitle">
								<view class="boxTitle_left">
									使用部门
								</view>
								<view class="boxVal">{{ item.department }}</view>
							</view>
							<view class="boxTitle">
								<view class="boxTitle_left">
									使用人
								</view>
								<view class="boxVal">{{ item.user }}</view>
							</view>
							<view class="boxTitle">
								<view class="boxTitle_left">
									使用地点
								</view>
								<view class="boxVal">{{ item.usePoint }}</view>
							</view>
						</view>
						<view class="btnBox">
							<view class="start fl">
								<image src="../../static/images/record.png" mode=""></image>
								处理记录
							</view>
							<view class="syncNum fl">
								<image src="../../static/images/supervise.png" mode=""></image>
								资产管理
							</view>
							<view class="clear fl">
								<image src="../../static/images/copy.png" mode=""></image>
								复制新建
							</view>
						</view>
					</view>
				</swiper-item>
				<!--领用-->
				<swiper-item class="content-item">
					<view class="list"><view>领用</view></view>
				</swiper-item>
				<!-- 退库 -->
				<swiper-item class="content-item">
					<view class="list"><view>退库</view></view>
				</swiper-item>
			</swiper>
		</view>
		<!-- tab -->
		<!-- 左侧菜单 -->
		<uni-drawer ref="showLeft" mode="left" :width="320" @change="change($event, 'showLeft')">
			<appNav></appNav>
		</uni-drawer>
		<view style="height: 120upx;"></view>
		<!-- 底部按钮 -->
		<view class="footer">
			<view class="btnBox">
				<view class="start" @click="toNewAssets">入库</view>
				<view class="syncNum" @click="startRecognize"><text class="btnBox-icon">&#xe661;</text></view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			//导航
			menuList: [
				{
					name: '资产列表'
				},
				{
					name: '领用'
				},
				{
					name: '退库'
				},
				{
					name: '借用'
				},
				{
					name: '调拨'
				},
				{
					name: '维修登记'
				}
			],
			message: [
				{
					classify: '土地',
					company: '牛途',
					department: '开发部',
					user: '赵巧乐',
					usePoint: '石家庄'
				},
				{
					classify: '土地1',
					company: '牛途1',
					department: '开发部1',
					user: '赵巧乐1',
					usePoint: '石家庄1'
				},
				{
					classify: '土地2',
					company: '牛途2',
					department: '开发部2',
					user: '赵巧乐2',
					usePoint: '石家庄2'
				}
			],
			tabScroll: 0,
			currentTab: 0,
			//文字笑话
			list: [],
			//加载条数
			pages: 0,
			pages_all: false
		};
	},
	onLoad() {
		uni.getSystemInfo({
			// 获取当前设备的宽高，文档有
			success: res => {
				this.windowHeight = res.windowHeight;
				this.windowWidth = res.windowWidth;
			}
		});
	},
	methods: {
		// 打开窗口
		showDrawer(e) {
			this.$refs[e].open();
		},
		// 关闭窗口
		closeDrawer(e) {
			this.$refs[e].close();
		},
		//点击tab menu
		clickMenu: function(e) {
			var current = e.currentTarget.dataset.current; //获取当前tab的index
			// 导航tab共2个，获取一个的宽度
			var tabWidth = this.windowWidth / 2;
			this.tabScroll = (current - 2) * tabWidth; //使点击的tab始终在居中位置
			if (this.currentTab == current) {
				return false;
			} else {
				this.currentTab = current;
			}
		},
		//活动menu 内容
		changeContent: function(e) {
			var current = e.detail.current; // 获取当前内容所在index,文档有
			var tabWidth = this.windowWidth / 2;
			this.currentTab = current;
			this.tabScroll = (current - 2) * tabWidth;
		}
	}
};
</script>
<!-- tab -->
<style>
@font-face {
	font-family: 'iconfont';
	src: url('https://at.alicdn.com/t/font_865816_17gjspmmrkti.ttf') format('truetype');
}
.content-item {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 40upx;
}

.tba_contain {
	width: 100%;
	padding-top: 80upx;
	
}

.tab {
	display: flex;
	width: 100%;
	height: 70upx;
	padding-left: 20upx;
	position: fixed;
	left: 0;
	white-space: nowrap;
	box-sizing: border-box;
	overflow: hidden;
	line-height:70upx;
	font-size: 28upx;
	z-index: 2;
	/* border-bottom: 2upx solid #d8d8d8; */
	background-color: #ffffff;
	box-sizing: border-box;
}

.tab-item {
	display: inline-block;
	margin-right: 50upx;
	text-align: center;
	font-size: 14px;
	color: #000;
	height: 66upx;
}
.active {
	color: #007AFF;
	font-size: 15px;
	border-bottom: 2px solid #007AFF;
}
.list_content {
	padding-top: 70rpx;
	box-sizing: border-box;
	font-size: 14px;
	min-height: 100vh;
}
.content-item {
	overflow-y: scroll;
	margin: 0 auto;
}

.list_img {
	width: 95%;
	margin: 0 auto;
	text-align: left;
	font-size: 16px;
	margin-top: 40rpx;
	border-bottom: solid 1px #ccc;
}

.list_img view {
	margin-bottom: 10px;
}

.list_img image {
	margin-bottom: 10px;
}

.list {
	width: 90%;
	margin: 0 auto;
	padding: 2.5%;
	text-align: left;
	font-size: 16px;
	margin-top: 20rpx;
	color: #333;
	padding-bottom: 80rpx;
	border-bottom: solid 1px #eee;
}
.list view:nth-child(1) {
	font-weight: bold;
}
.list view:nth-child(2) {
	padding-top: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}
.card {
	margin-top: 20upx;
	background-color: #ffffff;
	/* margin-bottom: 10px; */
}
.tabBox {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	background-color: #ffffff;
}
.tabBox .underWay,
.finished {
	width: 50%;
	float: left;
	text-align: center;
}
.titleBox {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	border-bottom: 2upx solid #eee;
}
.titleBox image{
	display: block;
	width: 32upx;
	height: 32upx;
	margin-top: 14upx;
	margin-right: 0;
}
.messageBox {
	padding: 20upx 30upx;
	box-sizing: border-box;
	border-bottom: 2upx solid #eee;
}
.messageBox .boxTitle {
	display: flex;
	align-items: center;
	color: #cccccc;
	font-size: 14px;
	height: 22px;
}
.messageBox .boxTitle .boxTitle_left{
	margin-left: 20upx;
	width: 120upx;
}
.messageBox .boxTitle .boxVal {
	margin-left: 20upx;
	color: #000;
}
.dataBox {
	width: 100%;
	height: 60px;
	line-height: 30px;
	border-bottom: 2upx solid #eee;
}
.dataBox .dataBox-box {
	float: left;
	width: 25%;
	text-align: center;
}
.dataBox .dataBox-box .dataBox-title {
	color: #cccccc;
	font-size: 14px;
}
.dataBox .dataBox-box .dataBox-num {
	font-size: 20px;
}
.btnBox {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 40px;
	line-height: 30px;
	color: #007aff;
	font-size: 14px;
}
.btnBox image{
	display: block;
	width: 32upx;
	height: 32upx;
	margin-right: 10upx;
}
.btnBox .start,
.syncNum {
	border-right: 0.5px solid #eee;
}
.btnBox .fl {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 33%;
	margin: 5px 0;
}
.finishedBox .btnBox .fl {
	width: 48%;
}
.navIcon {
	font-family: iconfont;
	font-size: 20px;
}
.icon {
	position: absolute;
	top: 0;
	right: 5px;
	font-family: iconfont;
	float: right;
}
.btnBox-icon {
	font-family: iconfont;
	flex: 2;
}
</style>
<!-- tab -->
<style lang="less">
.fl {
	float: left;
}
.fr {
	float: right;
}
.content {
	width: 100%;
}
// 顶部
.navBox {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80upx;
	padding: 0 20upx;
	background-color: #ffffff;
	overflow: hidden;
	border-bottom: 2upx solid #eee;
	box-sizing: border-box;
	.navIcon {
		font-family: iconfont;
		font-size: 20px;
	}
	.navInput {
		flex: 5;
		margin: 0 15px;
		.uni-input {
			padding-left: 15px;
			height: 25px;
			border: none;
			background-color: #edf0f7;
			border-radius: 50px;
		}
	}
}
.navBox image{
	display: block;
	width: 32upx;
	height: 32upx;
}
.footer {
	position: fixed;
	bottom: 0;
	padding: 0 5% 20upx;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	.btnBox {
		display: flex;
		width: 100%;
		height: 40px;
		line-height: 20px;
		background-color: #007AFF;
		color: #ffffff;
		border-radius: 5px;
		.start,
		.syncNum {
			flex: 1;
			margin: 10px 0;
			border-right: 0.5px solid #ccc;
		}
	}
}
.btnBox-icon {
	font-family: iconfont;
}
</style>
