<template>
	<view class="content">
		<view class="tabBox">
			<view class="signTask" :class="color === 0 ? 'color' : ''" @click="onSignTask">
				<text class="icon">&#xe6b3;</text>
				签字任务
			</view>
			<view class="officeMessage" :class="color === 1 ? 'color' : ''" @click="onOfficeMessage">
				<text class="icon">&#xe604;</text>
				办公消息
			</view>
			<view class="system" :class="color === 2 ? 'color' : ''" @click="onSystem">
				<text class="icon">&#xe611;</text>
				系统通知
			</view>
		</view>
		<!-- 签字任务详情 -->
		<view v-if="color === 0" class="signTaskBox" @click="toSignTask">
			<view class="card">
				<view class="date">04-11</view>
				<view class="cardBox">
					<view class="cardBox-title">
						<view class="fl">
							<view class="fl-title">签字提醒</view>
							<view class="fl-date">04-11</view>
						</view>
						<view class="fr">退库单</view>
					</view>
					<view class="cardBox-details">
						<view>
							单据号：
							<text class="cbd-text-id">{{ form.id }}</text>
						</view>
						<view>
							操作人：
							<text class="cbd-text-name">{{ form.name }}</text>
						</view>
					</view>
					<view class="details">
						查看详情
						<text class="details-text">&gt;</text>
					</view>
				</view>
			</view>
			<view class="card">
				<view class="date">04-11</view>
				<view class="cardBox">
					<view class="cardBox-title">
						<view class="fl">
							<view class="fl-title">签字提醒</view>
							<view class="fl-date">04-11</view>
						</view>
						<view class="fr">退库单</view>
					</view>
					<view class="cardBox-details">
						<view>
							单据号：
							<text class="cbd-text-id">{{ form.id }}</text>
						</view>
						<view>
							操作人：
							<text class="cbd-text-name">{{ form.name }}</text>
						</view>
					</view>
					<view class="details">
						查看详情
						<text class="details-text">&gt;</text>
					</view>
				</view>
			</view>
		</view>
		<!-- 办公消息详情 -->
		<view v-if="color === 1" class="officeMessageBox">
			<view class="card">
				<view class="date">04-18</view>
				<view class="cardBox">
					<view class="cardBox-title">
						<view class="fl">
							<view class="fl-title">员工借用申请通知</view>
							<view class="fl-date">04-18</view>
						</view>
					</view>
					<view class="cardBox-details">
						<view>
							通知内容：
							<text class="cbd-text-id">有新的员工申借资产</text>
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- 系统通知详情 -->
		<view v-if="color === 2" class="systemBox">
			<view class="card">
				<view class="date">04-18</view>
				<view class="cardBox">
					<view class="cardBox-title">
						<view class="fl">
							<view class="fl-title">最新优惠活动来袭！！！</view>
							<view class="fl-date">04-18</view>
						</view>
					</view>
					<view class="cardBox-details">
						<view>
							通知内容：
							<text class="cbd-text-id">有新的员工申借资产</text>
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			color: 0,
			form: {
				id: 'TK202004110002',
				name: '赵巧乐'
			}
		};
	},
	methods: {
		// 签字任务
		onSignTask() {
			this.color = 0;
		},
		//签字任务详情
		toSignTask() {
			uni.navigateTo({
				url: '../signTask/index'
			});
		},
		// 办公消息
		onOfficeMessage() {
			this.color = 1;
		},
		// 系统通知
		onSystem() {
			this.color = 2;
		}
	}
};
</script>

<style lang="less">
* {
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.content {
	background-color: #f3f7fa;
}
// 字体图标
.icon {
	font-family: iconfont;
	display: block;
	margin: 5px 0;
	font-size: 22px;
}
// tab切换
.tabBox {
	width: 100%;
	height: 60px;
	border-top: 1px solid #e1e1e1;
	background-color: #ffffff;
	color: #8f959e;
	display: flex;
	text-align: center;
	.signTask {
		flex: 1;
		font-size: 12px;
	}
	.officeMessage {
		flex: 1;
		font-size: 12px;
	}
	.system {
		flex: 1;
		font-size: 12px;
	}
}
// tab颜色切换
.color {
	color: #6a83e6;
}
// card样式
.card {
	width: 100%;
	padding: 0 5px;
	// margin-top: 10px;
	.date {
		margin: 10px auto;
		width: 70px;
		height: 25px;
		color: #ffffff;
		text-align: center;
		background-color: #dadde4;
		border-radius: 20px;
	}
	.cardBox {
		background-color: #ffffff;
		.cardBox-title {
			height: 50px;
			padding: 10px 10px 0;
			border-bottom: 1px solid #e0e0e0;
			.fl {
				.fl-title {
					font-weight: 700;
					font-size: 18px;
				}
				.fl-date {
					color: #909399;
					font-size: 14px;
				}
			}
			.fr {
				width: 50px;
				height: 25px;
				background-color: #e2e8fb;
				color: #7594f4;
				font-size: 14px;
				text-align: center;
				line-height: 25px;
			}
		}
		.cardBox-details {
			padding: 15px 10px;
			border-bottom: 1px solid #e0e0e0;
			color: #9294a0;
			text {
				color: #000000;
			}
		}
		.details {
			height: 30px;
			line-height: 30px;
			text-align: center;
			.details-text {
				color: #9294a0;
				margin-left: 10px;
			}
		}
	}
}
</style>
