<template>
	<view class="active">
		<view class="user">
			<view class="photo fl">
			</view>
			<view class="userMessage fl">
				<view class="userName">赵巧乐</view>
				<view class="userMail">1433223@123.com</view>
			</view>
		</view>
		<view class="menuList">
			<view @click="onMain">
				<text class="menuIcon">&#xe621;</text>
				首页
			</view>
			<view @click="onAssets">
				<text class="menuIcon">&#xe614;</text>
				资产管理
			</view>
			<view @click="onHaoCai">
				<text class="menuIcon">&#xe640;</text>
				耗材管理
			</view>
			<view @click="onPDManagement">
				<text class="menuIcon">&#xe608;</text>
				盘点管理
			</view>
			<view @click="onSystem">
				<text class="menuIcon">&#xe60e;</text>
				系统管理
			</view>
			<view @click="onShenPi">
				<text class="menuIcon">&#xe694;</text>
				我的审批
			</view>
			<view @click="onHelp">
				<text class="menuIcon">&#xe60f;</text>
				帮助中心
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				href: 'https://uniapp.dcloud.io/component/README?id=uniui'
			}
		},
		methods: {
			// 菜单跳转首页
			onMain() {
				uni.navigateTo({
					url: '../main/main'
				});
			},
			// 菜单跳转资产管理页面
			onAssets() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			// 菜单跳转耗材管理页面
			onHaoCai() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			// 菜单跳转盘点管理页面
			onPDManagement() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			// 菜单跳转系统管理页面
			onSystem() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			// 菜单跳转我的审批页面
			onShenPi() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			// 菜单跳转帮助中心页面
			onHelp() {
				uni.navigateTo({
					url: '../assetsManagement/index'
				});
			},
			toSearchPage() {
				uni.navigateTo({
					url: '../searchPage/index'
				});
			},
			toNewAssets() {
				uni.navigateTo({
					url: '../newAssets/index'
				});
			},
			onCard() {
				uni.navigateTo({
					url: '../newAssets/index'
				});
			},
		}
	}
	
</script>

<style lang="less">
	/* 左侧菜单 */
	.user {
		width: 100%;
		height: 60px;
		margin-top: 30px;
		border-bottom: 1px solid #dddddd;
		.photo {
			width: 40px;
			height: 40px;
			margin-left: 20px;
			.img {
				width: 100%;
				height: 100%;
			}
		}
		.userMessage {
			margin-left: 10px;
			.userName {
				font-size: 14px;
				margin-bottom: 5px;
			}
			.userMail {
				font-size: 12px;
				color: #dddddd;
			}
		}
	}
	.menuList {
		margin-top: 20px;
		view {
			height: 35px;
			padding-left: 20px;
			font-size: 14px;
			.menuIcon {
				font-family: iconfont;
				color: #c8c7cc;
				margin-right: 10px;
			}
		}
	}
</style>
